body {
  font-family: 'Inter', sans-serif !important;
  // font-family: 'Pacifico', cursive !important;

  font-size: 16px;
  // line-height: 24px;
  font-weight: 400;

  overflow-x: hidden;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
  background-color: #fff !important;
}

.font-mono {
  font-family: 'Roboto Mono', monospace !important;
}

p {
  font-size: 16px;
  color: #686970;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f2937;
}

h1 {
  color: #1f2937 !important;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  margin-bottom: 2.7rem !important;
}

h2 {
  color: #1f2937 !important;
  font-weight: 700 !important;
  margin-bottom: 1.8rem !important;
}

h4 {
  // color: #1f2937 !important;
  font-weight: 700 !important;
  margin-bottom: 1.3rem !important;
}

.popover-arrow::after {
  border: none;
}

.popover-arrow::before {
  opacity: 0;
}

.section {
  &--bg-block {
    position: absolute;
    width: 1600px;
    transform: rotate(-45deg);
    margin: auto;
    height: 1600px;
    background: #fbfbfb;
  }
}

// .custom-select__input-container {
//   background-color: red;
//   position: relative;
// }

.shaded {
  box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
}

textarea.form-control,
input.form-control {
  height: 3.5em;
  padding-inline: 1.4em;
  // border: 1px solid #f0f2f4;
  border: none;
  border-radius: 1.4em;
  background: #fafbfc;
  font-size: 13px;
}

form label.form-label {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
}

form span {
  font-size: 12px;
  color: rgb(97, 97, 97);
}

.funky-bg {
  background: linear-gradient(
    342deg,
    rgba(25, 42, 81, 1) 0%,
    rgba(91, 99, 156, 1) 100%
  );
}

.text-fancy {
  // background: #a51c5e;
  background: linear-gradient(
    90deg,
    rgba(69, 74, 91, 1) 0%,
    rgba(25, 42, 81, 1) 50%,
    rgba(87, 75, 126, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// body {
//   overflow-x: hidden;
//   width: 100%;
// }

@media screen and (max-width: 760px) {
  body {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 760px) and (max-width: 1300px) {
  body {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 2560px) {
  body {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 2560px) {
  body {
    font-size: 24px;
  }
}

@media screen and (min-width: 3200px) {
  body {
    font-size: 35px;
  }
}

.clickable:hover {
  cursor: pointer;
}

.rounded-half {
  border-radius: 9999px;
}

// a {
//   color: white !important;
// }

.font-cursive {
  font-family: 'Pacifico', cursive;
}

.font-smooth {
  font-family: 'Fredoka', sans-serif !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.nav {
  transition: 0.3s ease;
  user-select: none;
}

.nav:hover {
  color: #a51c5e;
}

.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}

#footer span,
#footer b {
  color: rgb(256, 256, 256, 0.6);
}

#footer h6 {
  color: rgb(256, 256, 256, 0.8);
  font-weight: 600;
}

#footer .clickable {
  transition: ease-in-out 0.3s;
}

#footer .clickable:hover {
  color: white;
}
